{% extends 'base.html' %} {% block content %}

<div class="home">
  <div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-2" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium
      dapibus nunc, sit amet faucibus odio pretium a. Cras eu tristique ante.
      Pellentesque sit amet mauris velit. Ut sed velit neque. Duis sollicitudin
      nibh et nulla vehicula mattis. Duis vulputate ante volutpat bibendum
      dignissim. Etiam eu nisi pulvinar, dapibus purus vel, tincidunt eros.
      Fusce vulputate, sapien eu aliquet euismod, mauris libero hendrerit
      sapien, a iaculis dui augue posuere mi. Mauris a lectus ornare, eleifend
      nibh a, dignissim nulla. Duis posuere finibus commodo. Proin gravida
      mattis congue. Nullam dolor arcu, mollis interdum ante et, aliquam
      suscipit justo. Vestibulum vitae ipsum non leo vestibulum venenatis sit
      amet congue mi. Sed vehicula maximus dolor quis varius. Phasellus semper
      ac lacus eget tempus. Praesent pretium aliquam urna, eget elementum metus
      pretium id. Proin hendrerit nunc in tincidunt tincidunt. Quisque ut elit
      in sapien facilisis maximus quis sed sapien. Nunc ultrices nibh in odio
      pulvinar sagittis. Quisque tempor massa ac euismod pretium. Praesent vitae
      faucibus sapien. Fusce dui nulla, iaculis quis vehicula sit amet,
      scelerisque in lorem. In gravida malesuada turpis, a pharetra lectus
      cursus vitae. Mauris est dui, fermentum sed diam sit amet, bibendum luctus
      augue. Mauris nulla massa, iaculis quis odio sed, ullamcorper aliquet
      justo. Duis ac augue posuere ante bibendum volutpat suscipit ut diam.
      Donec vel posuere nulla, in lobortis metus. In porttitor magna non nibh
      gravida, at consectetur leo ornare. Nam facilisis blandit dolor a dapibus.
      Fusce laoreet mauris vitae erat mollis hendrerit. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Ut euismod sapien molestie hendrerit
      mollis. Donec id malesuada lorem. Fusce cursus, nulla nec tincidunt
      luctus, ex felis tristique purus, sed imperdiet purus eros sit amet augue.
      Sed cursus metus ut mi auctor, non interdum metus egestas. Integer quam
      nulla, interdum a varius eu, blandit id nulla. Integer sem orci,
      ullamcorper sit amet tortor non, ornare vulputate augue. Nulla aliquam
      molestie augue. Ut vel ornare metus. Quisque et mauris in ipsum auctor
      condimentum. Integer a eros sed turpis tincidunt lacinia. Morbi ex sapien,
      sodales pulvinar nisi fringilla, dignissim varius nunc. Etiam mattis,
      purus a vestibulum gravida, justo enim rhoncus felis, a efficitur lorem
      mauris a nunc. Phasellus venenatis est nec enim tristique, eget auctor
      ligula consectetur. Aliquam ac neque in tortor tincidunt aliquet. Aliquam
      condimentum nulla vitae metus fermentum, et cursus felis blandit. Fusce
      sit amet suscipit nisl, sit amet cursus mi. Etiam id orci ac augue
      malesuada pharetra. Cras auctor tincidunt dolor. Nam massa leo,
      consectetur a neque vel, rutrum gravida ipsum. Vivamus congue augue ac
      enim auctor efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Phasellus nec odio libero. Pellentesque dapibus est et enim
      vulputate, id eleifend ipsum accumsan. Suspendisse id massa non ipsum
      commodo ultricies. Suspendisse ac quam id tellus luctus consequat. Sed at
      nisl eu felis accumsan euismod. Aenean ac rutrum nisi, at sollicitudin
      magna. Ut vel elementum augue, et efficitur lectus. Vestibulum vel gravida
      diam. Integer sed magna vel ex ultrices iaculis sit amet vel ligula. Nunc
      laoreet viverra hendrerit. Suspendisse cursus magna nec fermentum
      dignissim. Aliquam sit amet urna nec ligula cursus finibus. Duis turpis
      dui, interdum vel augue ac, molestie pellentesque neque.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
{% endblock %}
